<a href="https://colab.research.google.com/github/lingliao/Machine-learning-model/blob/main/MDClone_data_process_QE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# install libraries

In [153]:
#install and download the library
install.packages("tidyverse")
install.packages("plotly")
install.packages("extrafont")
library("tidyverse")
library("extrafont")
library("scales")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

# IHD

In [154]:
#load the data
data <- read.csv("/content/IHD.csv")

In [155]:
#check the data
head(data)

  date.of.birth gender.at.birth ethnicity race...primary
1 1947          FEMALE          censored  censored
2 1940          FEMALE          censored  censored
3 1953          FEMALE          censored  censored
4 1955          FEMALE          censored  censored
5 1941          FEMALE          censored  censored
6 1967          FEMALE          censored  censored
  cohort.reference.event.age.at.event cohort.reference.event.condition
1 66.47070                            censored
2 84.38799                            censored
3 68.48428                            censored
4 62.51305                            censored
5 77.00137                            censored
6 53.75365                            censored
  copy.of.cohort.reference.event.condition
1 censored
2 censored
3 censored
4 censored
5 censored
6 censored
  cohort.reference.event.problem.onset.date.time
1 2015-11-01 13:56:16
2 2023-03-08 14:38:48
3 2021-05-09 23:59:59
4 2018-04-08 11:49:50
5 2018-11-18 23:59:59
6 2021-06-22 23:59:59
  cohort.reference.event.condition.type
1 Diagnosis
2 Diagnosis
3 Diagnosis
4 Diagnosis
5 Diagnosis
6 Diagnosis

In [156]:
#check the dimention of the data
dim(data)

[1] 352860      9

In [157]:
unique(data$cohort.reference.event.condition.type)

[1] "Diagnosis"

In [158]:
#check the unique type in icd 10 code column
unique(data$copy.of.cohort.reference.event.condition)

 [1] "censored"         "I25.10"           "I25.1"            "I24.8"
 [5] "I20.9 ; I25.118"  "I25.9"            "I24.9"            "I25.3"
 [9] "I25.119"          "I25.110"          "I25.41"           "I25.42"
[13] "I25.5"            "I25.1 ; I25.9"    "I25.810 ; I70.90" "I25.811 ; Z94.1"
[17] "I20.1 ; I25.111"  "I25.82"           "I25.84"           "I25.83"
[21] "I25.1 ; Z94.1"    "I24.9 ; I25.9"    "I25.89"

In [159]:
# aggragate the data based on icd 10 code
data$coded <- ifelse(grepl("I20.9 ; I25.118|I20.1 ; I25.111", data$copy.of.cohort.reference.event.condition), "Angina pectoris & Chronic ischaemic heart disease",
                         ifelse(grepl("I21", data$copy.of.cohort.reference.event.condition), "Acute myocardial infarction",
                                ifelse(grepl("I22", data$copy.of.cohort.reference.event.condition), "Subsequent myocardial infarction",
                                       ifelse(grepl("I23", data$copy.of.cohort.reference.event.condition), "Certain current complications following acute myocardial infarction",
                                              ifelse(grepl("I24", data$copy.of.cohort.reference.event.condition), "Other acute ischaemic heart diseases",
                                                     ifelse(grepl("I25", data$copy.of.cohort.reference.event.condition), "Chronic ischaemic heart disease",
                                                      ifelse(grepl("censored", data$copy.of.cohort.reference.event.condition), "censored",
                                                            NA)))))))

In [160]:
#check the aggregated column
unique(data$coded)

[1] "censored"
[2] "Chronic ischaemic heart disease"
[3] "Other acute ischaemic heart diseases"
[4] "Angina pectoris & Chronic ischaemic heart disease"

In [162]:
Type_data <- data

In [163]:
table(Type_data$coded)

Angina pectoris & Chronic ischaemic heart disease
                                             3282
                                         censored
                                              473
                  Chronic ischaemic heart disease
                                           338561
             Other acute ischaemic heart diseases
                                            10544

In [164]:
##save the counts
# Assuming 'type_counts' is a table
type_counts <- table(Type_data$coded)

# Add a sum row
type_counts_with_sum <- addmargins(type_counts, FUN = list(Total = sum))

# Convert the table to a data frame
type_counts_df <- as.data.frame(type_counts_with_sum)

# Save the table as a CSV file
write.csv(type_counts_df, "IDH_.csv", row.names = FALSE)

In [165]:
#visual the counts
type_counts_df

  Var1                                              Freq
1 Angina pectoris & Chronic ischaemic heart disease   3282
2 censored                                             473
3 Chronic ischaemic heart disease                   338561
4 Other acute ischaemic heart diseases               10544
5 Total                                             352860

# DM

In [166]:
#load the data
data <- read.csv("/content/DM.csv")

In [167]:
#check the data
head(data)

  date.of.birth gender.at.birth ethnicity
1 1964          FEMALE          Ethnic group not given - patient refused
2 1987          FEMALE          Ethnic group not given - patient refused
3 1960          FEMALE          Ethnic group not given - patient refused
4 1950          FEMALE          Ethnic group not given - patient refused
5 1977          FEMALE          Ethnic group not given - patient refused
6 1943          FEMALE          Ethnic group not given - patient refused
  race...primary                   cohort.reference.event.age.at.event
1 American Indian or Alaska Native 52.18816
2 American Indian or Alaska Native 29.54861
3 American Indian or Alaska Native 60.90834
4 American Indian or Alaska Native 69.79480
5 American Indian or Alaska Native 44.79891
6 American Indian or Alaska Native 76.93570
  cohort.reference.event.condition copy.of.cohort.reference.event.condition
1 censored                         censored
2 censored                         censored
3 censored                         censored
4 censored                         censored
5 censored                         censored
6 censored                         censored
  cohort.reference.event.problem.onset.date.time
1 2016-08-26 02:49:55
2 2017-11-06 14:35:03
3 2020-11-08 23:59:59
4 2019-09-04 23:59:59
5 2021-09-09 23:59:59
6 2020-07-05 23:59:59
  cohort.reference.event.condition.type
1 Diagnosis
2 Diagnosis
3 Diagnosis
4 Diagnosis
5 Diagnosis
6 Diagnosis

In [168]:
#check the dimention of the data
dim(data)

[1] 427900      9

In [169]:
unique(data$cohort.reference.event.condition.type)

[1] "Diagnosis"

In [170]:
#check the unique type in icd 10 code column
unique(data$copy.of.cohort.reference.event.condition)

  [1] "censored"
  [2] "E11.9"
  [3] "E11.69"
  [4] "E11.22 ; N18.9"
  [5] "E11.65"
  [6] "E10.9 ; T63.001"
  [7] "E11.40"
  [8] "E11.42"
  [9] "E11.621"
 [10] "E11.21"
 [11] "E11.8 ; O24.92 ; O26.90 ; O90.9 ; P70.1"
 [12] "E10.65"
 [13] "E11.649"
 [14] "E11.8"
 [15] "E11.39"
 [16] "E11"
 [17] "E11.65 ; E11.8"
 [18] "E11.9 ; E13.9"
 [19] "E11 ; O24.12"
 [20] "E10.22 ; N18.9"
 [21] "E10.10 ; E87.2"
 [22] "E11.36"
 [23] "E11.51"
 [24] "E11.10"
 [25] "E11.59"
 [26] "E11.628"
 [27] "E11.622 ; L98.499"
 [28] "E11 ; O24.912 ; Z34.92"
 [29] "E11 ; O24.913 ; Z33.1"
 [30] "E11 ; O24.919 ; Z33"
 [31] "E11.32"
 [32] "E11.8 ; O24.92 ; O24.93 ; O26.90 ; O90.9 ; P70.1"
 [33] "E11.8 ; O24.92 ; O90.9"
 [34] "E10.1 ; E87.2"
 [35] "E11.1"
 [36] "E10.40"
 [37] "E10.39"
 [38] "E10"
 [39] "E11.5"
 [40] "E10.21"
 [41] "E10 ; E11.8"
 [42] "E10.65 ; E11.8"
 [43] "E11 ; E13.22 ; N18.9 ; N19"
 [44] "E11.65 ; E13.65"
 [45] "E11.8 ; E13.69"
 [46] "E11.8 ; E13.8"
 [47] "E11 ; O24.13 ; Z39.2"
 [48] "E10.43"
 [49] "E10.40 ; E11.40"
 [50] "E10.42"
 [51] "E10.649"
 [52] "E10.11"
 [53] "E10.69"
 [54] "E10.8"
 [55] "E11.43"
 [56] "E11.620"
 [57] "E11.41"
 [58] "E11.52"
 [59] "E11.01"
 [60] "E11.00"
 [61] "E11.11"
 [62] "E11.3213 ; H35.81"
 [63] "E11.3212 ; H35.81"
 [64] "E11.3293"
 [65] "E11.3291"
 [66] "E11.3299"
 [67] "E11.3313 ; H35.81"
 [68] "E11.3393"
 [69] "E11.29"
 [70] "E11.49"
 [71] "E11.3513 ; H35.81"
 [72] "E11.3523 ; H33.40 ; H35.00"
 [73] "E11.3593"
 [74] "E11.3599"
 [75] "E11.3413 ; H35.81"
 [76] "E11.3553 ; H35.00"
 [77] "E11.311"
 [78] "E11.319"
 [79] "E11 ; O24.911 ; Z33.1"
 [80] "E10.5"
 [81] "E11.40 ; E13.40"
 [82] "E13.00"
 [83] "E11.64 ; E13.649"
 [84] "E11.40 ; E13.49"
 [85] "E10 ; O24.02"
 [86] "E10.36"
 [87] "E10.21 ; E11.21"
 [88] "E10.51 ; E11.5"
 [89] "E10.621 ; L97.509"
 [90] "E10.3293 ; E11.32"
 [91] "E10.59"
 [92] "E10.29 ; E11.8"
 [93] "E10.39 ; E11.8"
 [94] "E10.622 ; L98.499"
 [95] "E10.3513 ; H35.81"
 [96] "E10.3593"
 [97] "E10.319 ; E11.31"
 [98] "E11.44"
 [99] "E11.610"
[100] "E11.641"
[101] "E11.3292"
[102] "E11.3311 ; H35.81"
[103] "E11.618"
[104] "E11.3512 ; H35.81"
[105] "E11.359"
[106] "E11.3592"
[107] "E11.3591"
[108] "E11 ; O24.93 ; Z39.2"
[109] "E10 ; E11.49"
[110] "E10.65 ; E11.49"
[111] "E11.49 ; E11.65"
[112] "E11.21 ; E13"
[113] "E11.8 ; E13.29"
[114] "E10.52 ; E11.5"
[115] "E10.641"
[116] "E10.49 ; E11.40"
[117] "E10.3592"
[118] "E10.3553"
[119] "E11.638"
[120] "E11.3511 ; H35.81"
[121] "E11.3521 ; H33.40"
[122] "E11.3532 ; H33.40"
[123] "E11.3411 ; H35.81"
[124] "E11.3493"

In [171]:
# aggragate the data based on icd 10 code
data$coded <- ifelse(grepl("E10.40 ; E11.40|E10.21 ; E11.21|E10.51 ; E11.5|E10.29 ; E11.8|E10.39 ; E11.8|E10.3293 ; E11.32|E10.319 ; E11.31|E10 ; E11.49|E10.65 ; E11.49|E10.49 ; E11.40|E10.52 ; E11.5|E10 ; E11.8|E10.65 ; E11.8", data$copy.of.cohort.reference.event.condition), "Type 1 and Type 2 diabetes mellitus",
                                ifelse(grepl("E11.9|E11.69|E11.649|E11.8|E11.39|E11|E11.40|E11.42|E11.621|E11.21|E11.36|E11.51|E11.10|E11.59|E11.628|E11.32|E11.43|E11.620|E11.41|E11.52|E11.01|E11.00|E11.11|E11.3291|E11.3299|E11.65", data$copy.of.cohort.reference.event.condition), "Type 2 diabetes mellitus",
                                              ifelse(grepl("E10.40|E10.39|E10|E10.43|E10.42|E10.649|E10.11|E10.69|E10.8|E10.5|E10.21|E10.36|E10.59|E10.3593|E10.3592|E10.3553|E10.641|E10.65", data$copy.of.cohort.reference.event.condition), "Type 1 diabetes mellitus",
                                                      ifelse(grepl("censored", data$copy.of.cohort.reference.event.condition), "censored",
                                                            NA))))

In [172]:
#check the aggregated column
unique(data$coded)

[1] "censored"                            "Type 2 diabetes mellitus"
[3] "Type 1 diabetes mellitus"            "Type 1 and Type 2 diabetes mellitus"
[5] NA

In [173]:
data[is.na(data$coded), ]

      date.of.birth gender.at.birth ethnicity              race...primary
35915 1971          FEMALE          Not Hispanic or Latino White
35916 1922          FEMALE          Not Hispanic or Latino White
35917 1982          FEMALE          Not Hispanic or Latino White
35918 1978          FEMALE          Not Hispanic or Latino White
35919 1950          FEMALE          Not Hispanic or Latino White
35920 1951          FEMALE          Not Hispanic or Latino White
      cohort.reference.event.age.at.event
35915 50.71197
35916 94.04917
35917 38.06840
35918 43.16453
35919 70.80624
35920 68.39945
      cohort.reference.event.condition
35915 Other specified diabetes mellitus with hyperosmolarity without nonketotic hyperglycemic-hyperosmolar coma (NKHHC)
35916 Other specified diabetes mellitus with hyperosmolarity without nonketotic hyperglycemic-hyperosmolar coma (NKHHC)
35917 Other specified diabetes mellitus with hyperosmolarity without nonketotic hyperglycemic-hyperosmolar coma (NKHHC)
35918 Other specified diabetes mellitus with hyperosmolarity without nonketotic hyperglycemic-hyperosmolar coma (NKHHC)
35919 Other specified diabetes mellitus with hyperosmolarity without nonketotic hyperglycemic-hyperosmolar coma (NKHHC)
35920 Other specified diabetes mellitus with hyperosmolarity without nonketotic hyperglycemic-hyperosmolar coma (NKHHC)
      copy.of.cohort.reference.event.condition
35915 E13.00
35916 E13.00
35917 E13.00
35918 E13.00
35919 E13.00
35920 E13.00
      cohort.reference.event.problem.onset.date.time
35915 2020-10-29 23:59:59
35916 2020-09-30 23:59:59
35917 2021-05-23 23:59:59
35918 2021-03-27 23:59:59
35919 2021-04-11 23:59:59
35920 2020-10-17 23:59:59
      cohort.reference.event.condition.type coded
35915 Diagnosis                             NA
35916 Diagnosis                             NA
35917 Diagnosis                             NA
35918 Diagnosis                             NA
35919 Diagnosis                             NA
35920 Diagnosis                             NA

In [174]:
Type_data <- data

In [175]:
table(Type_data$coded)

                           censored Type 1 and Type 2 diabetes mellitus
                               1861                                 558
           Type 1 diabetes mellitus            Type 2 diabetes mellitus
                              11729                              413746

In [176]:
##save the counts
# Assuming 'type_counts' is a table
type_counts <- table(Type_data$coded)

# Add a sum row
type_counts_with_sum <- addmargins(type_counts, FUN = list(Total = sum))

# Convert the table to a data frame
type_counts_df <- as.data.frame(type_counts_with_sum)

# Save the table as a CSV file
write.csv(type_counts_df, "DM_.csv", row.names = FALSE)

In [177]:
#visual the counts
type_counts_df

  Var1                                Freq
1 censored                              1861
2 Type 1 and Type 2 diabetes mellitus    558
3 Type 1 diabetes mellitus             11729
4 Type 2 diabetes mellitus            413746
5 Total                               427894

In [178]:
# #extra
#type 2 only
# E11.9|E11.69|E11.649|E11.8|E11.39|E11|E11.40|E11.42|E11.621|E11.21|E11.36|E11.51|E11.10|E11.59|E11.628|E11.32|E11.43|E11.620|E11.41|E11.52|E11.01|E11.00|E11.11|E11.3291|E11.3299|E11.65
#type 2 and complicatons without type 1
# E11.22 ; N18.9|E11.8 ; O24.92 ; O26.90 ; O90.9 ; P70.1|E11.65 ; E11.8|E11.9 ; E13.9|E11 ; O24.12|E11.622 ; L98.499|E11 ; O24.912 ; Z34.92|E11 ; O24.913 ; Z33.1|E11 ; O24.919 ; Z33|E11.8 ; O24.92 ; O24.93 ; O26.90 ; O90.9 ; P70.1|E11.8 ; O24.92 ; O90.9|E11.1|E11.5||E11 ; E13.22 ; N18.9 ; N19|E11.65 ; E13.65|E11.8 ; E13.69|E11.8 ; E13.8|E11 ; O24.13 ; Z39.2|E11.3213 ; H35.81|E11.3212 ; H35.81|E11.3293|E11.3313 ; H35.81|E11.3393|E11.29|E11.49|E11.3513 ; H35.81|E11.3523 ; H33.40 ; H35.00|E11.3593|E11.3599|E11.3413 ; H35.81|E11.3553 ; H35.00|E11.311|E11.319|E11 ; O24.911 ; Z33.1|E11.40 ; E13.40|E13.00|E11.64 ; E13.649|E11.40 ; E13.49|E11.44|E11.610|E11.641|E11.3292|E11.3311 ; H35.81|E11.618|E11.3512 ; H35.81|E11.359|E11.3592|E11.3591|E11 ; O24.93 ; Z39.2|E11.49 ; E11.65|E11.21 ; E13|E11.8 ; E13.29|E11.638|E11.3511 ; H35.81|E11.3521 ; H33.40|E11.3532 ; H33.40|E11.3411 ; H35.81|E11.3493

#tpye 1 with complications without type 2
# E10.10 ; E87.2|E10.9 ; T63.001|E10.22 ; N18.9|E10.1 ; E87.2|E10 ; O24.02|E10.621 ; L97.509|E10.622 ; L98.499|E10.3513 ; H35.81|
#type 1 and 2
# E10.40 ; E11.40|E10.21 ; E11.21|E10.51 ; E11.5|E10.29 ; E11.8|E10.39 ; E11.8|E10.3293 ; E11.32|E10.319 ; E11.31|E10 ; E11.49|E10.65 ; E11.49|E10.49 ; E11.40|E10.52 ; E11.5|E10 ; E11.8|E10.65 ; E11.8|
#type 1
# E10.40|E10.39|E10|E10.43|E10.42|E10.649|E10.11|E10.69|E10.8|E10.5|E10.21|E10.36|E10.59|E10.3593|E10.3592|E10.3553|E10.641|E10.65|

# COPD

In [179]:
#load the data
data <- read.csv("/content/COPD.csv")

In [180]:
#check the data
head(data)

  date.of.birth gender.at.birth ethnicity race...primary
1 1967          censored        censored  censored
2 1961          censored        censored  censored
3 1978          censored        censored  censored
4 1961          censored        censored  censored
5 1963          FEMALE          censored  censored
6 1943          FEMALE          censored  censored
  cohort.reference.event.age.at.event cohort.reference.event.condition
1 41.33677                            censored
2 55.69893                            censored
3 41.31332                            censored
4 59.12175                            censored
5 59.05778                            censored
6 73.65337                            censored
  copy.of.cohort.reference.event.condition
1 J44.9
2 J44.9
3 J44.9
4 J44.9
5 J44.0
6 J44.0
  cohort.reference.event.problem.onset.date.time
1 2005-07-02 04:09:38
2 2018-07-23 23:59:59
3 2020-02-24 23:59:59
4 2022-04-04 13:02:51
5 2020-04-21 23:59:59
6 2016-02-09 05:05:04
  cohort.reference.event.condition.type
1 Diagnosis
2 Diagnosis
3 Diagnosis
4 Diagnosis
5 Diagnosis
6 Diagnosis

In [181]:
#check the dimention of the data
dim(data)

[1] 229720      9

In [182]:
unique(data$cohort.reference.event.condition.type)

[1] "Diagnosis"

In [183]:
#check the unique type in icd 10 code column
unique(data$copy.of.cohort.reference.event.condition)

[1] "J44.9" "J44.0" "J44.1"

In [184]:
# aggragate the data based on icd 10 code
data$coded <- ifelse(grepl("J44.9", data$copy.of.cohort.reference.event.condition), "COPD, unspecified",
                         ifelse(grepl("J44.0", data$copy.of.cohort.reference.event.condition), "COPD with acute lower respiratory infection",
                                ifelse(grepl("J44.1", data$copy.of.cohort.reference.event.condition), "COPD with acute exacerbation, unspecified",
                                                      ifelse(grepl("censored", data$copy.of.cohort.reference.event.condition), "censored",
                                                            NA))))

In [185]:
#check the aggregated column
unique(data$coded)

[1] "COPD, unspecified"
[2] "COPD with acute lower respiratory infection"
[3] "COPD with acute exacerbation, unspecified"

In [186]:
Type_data <- data

In [187]:
table(Type_data$coded)

  COPD with acute exacerbation, unspecified
                                      26371
COPD with acute lower respiratory infection
                                       6132
                          COPD, unspecified
                                     197217

In [188]:
##save the counts
# Assuming 'type_counts' is a table
type_counts <- table(Type_data$coded)

# Add a sum row
type_counts_with_sum <- addmargins(type_counts, FUN = list(Total = sum))

# Convert the table to a data frame
type_counts_df <- as.data.frame(type_counts_with_sum)

# Save the table as a CSV file
write.csv(type_counts_df, "COPD_.csv", row.names = FALSE)

In [189]:
#visual the counts
type_counts_df

  Var1                                        Freq
1 COPD with acute exacerbation, unspecified    26371
2 COPD with acute lower respiratory infection   6132
3 COPD, unspecified                           197217
4 Total                                       229720

#LC

In [190]:
#load the data
data <- read.csv("/content/LC.csv")

In [191]:
#check the data
head(data)

  date.of.birth gender.at.birth ethnicity
1 1967          FEMALE          censored
2 1966          FEMALE          censored
3 1952          FEMALE          censored
4 1962          FEMALE          censored
5 1933          FEMALE          censored
6 1949          FEMALE          Ethnic group not given - patient refused
  race...primary cohort.reference.event.age.at.event
1 censored       54.30683
2 censored       50.60295
3 censored       67.90424
4 censored       60.82743
5 censored       86.47784
6 White          73.44928
  cohort.reference.event.condition copy.of.cohort.reference.event.condition
1 censored                         censored
2 censored                         censored
3 censored                         censored
4 censored                         censored
5 censored                         censored
6 censored                         censored
  cohort.reference.event.problem.onset.date.time
1 2021-11-11 23:59:59
2 2019-12-15 23:59:59
3 2020-01-28 23:59:59
4 2023-10-12 00:18:39
5 2023-04-05 23:59:59
6 2023-04-11 22:24:23
  cohort.reference.event.condition.type
1 Diagnosis
2 Diagnosis
3 Diagnosis
4 Diagnosis
5 Diagnosis
6 Diagnosis

In [192]:
#check the dimention of the data
dim(data)

[1] 35660     9

In [193]:
unique(data$cohort.reference.event.condition.type)

[1] "Diagnosis"

In [194]:
#check the unique type in icd 10 code column
unique(data$copy.of.cohort.reference.event.condition)

 [1] "censored"       "C34.12 ; D49.1" "C34.3"          "C34.32 ; D49.1"
 [5] "C34.31 ; D49.1" "C34.92"         "C34.91"         "C34.90"
 [9] "C34.1"          "C34.11 ; D49.1" "C34.2"          "C34.82 ; C80.1"
[13] "C34.81 ; C80.1" "C34.80"         "C34.10"         "C34.30"

In [195]:
# aggragate the data based on icd 10 code
data$coded <- ifelse(grepl("C34", data$copy.of.cohort.reference.event.condition), "Lung cancer",
                         ifelse(grepl("censored", data$copy.of.cohort.reference.event.condition), "censored",
                                                            NA))

In [196]:
#check the aggregated column
unique(data$coded)

[1] "censored"    "Lung cancer"

In [197]:
Type_data <- data

In [198]:
table(Type_data$coded)

   censored Lung cancer
        230       35430

In [199]:
##save the counts
# Assuming 'type_counts' is a table
type_counts <- table(Type_data$coded)

# Add a sum row
type_counts_with_sum <- addmargins(type_counts, FUN = list(Total = sum))

# Convert the table to a data frame
type_counts_df <- as.data.frame(type_counts_with_sum)

# Save the table as a CSV file
write.csv(type_counts_df, "LC_.csv", row.names = FALSE)

In [200]:
#visual the counts
type_counts_df

  Var1        Freq
1 censored      230
2 Lung cancer 35430
3 Total       35660

# Stroke

In [201]:
#load the data
data <- read.csv("/content/Stroke.csv")

In [202]:
#check the data
head(data)

  date.of.birth gender.at.birth ethnicity race...primary
1 1964          FEMALE          censored  censored
2 1962          FEMALE          censored  censored
3 1958          FEMALE          censored  censored
4 1938          FEMALE          censored  censored
5 1958          FEMALE          censored  censored
6 1943          FEMALE          censored  censored
  cohort.reference.event.age.at.event cohort.reference.event.condition
1 55.10145                            censored
2 54.40571                            censored
3 64.81883                            censored
4 78.96031                            censored
5 65.45336                            censored
6 74.05702                            censored
  copy.of.copy.of.cohort.reference.event.condition
1 censored
2 censored
3 censored
4 censored
5 censored
6 censored
  cohort.reference.event.problem.onset.date.time
1 2021-05-27 23:59:59
2 2018-02-08 00:48:30
3 2023-04-18 13:19:53
4 2017-11-01 19:35:08
5 2023-04-14 23:59:59
6 2016-06-01 05:29:50
  cohort.reference.event.condition.type
1 Diagnosis
2 Diagnosis
3 Diagnosis
4 Diagnosis
5 Diagnosis
6 Diagnosis

In [203]:
#check the dimention of the data
dim(data)

[1] 29320     9

In [204]:
unique(data$cohort.reference.event.condition.type)

[1] "Diagnosis"

In [205]:
#check the unique type in icd 10 code column
unique(data$copy.of.copy.of.cohort.reference.event.condition)

 [1] "censored"                           "G81.90 ; G81.91 ; I63.89 ; I69.351"
 [3] "I63.411"                            "I63.511"
 [5] "G81.90 ; G81.94 ; I63.89 ; I69.354" "I63.512"
 [7] "G46.4 ; I63.9"                      "I63.12"
 [9] "I63.422"                            "I63.132"
[11] "I63.442"                            "I63.412"
[13] "I63.432"                            "I63.421"
[15] "I63.131"                            "I63.441"
[17] "I63.431"                            "I63.02"
[19] "I63.032"                            "I63.342"
[21] "I63.312"                            "I63.031"
[23] "I63.341"                            "I63.311"
[25] "I63.331"                            "I63.233 ; I65.23"
[27] "I63.213 ; I65.03"                   "I63.522 ; I66.19"
[29] "I63.542 ; I66.3"                    "I63.532"
[31] "I63.521"                            "I63.541 ; I66.3"
[33] "I63.531"                            "I63.239 ; I65.29"
[35] "I63.9 ; I69.392 ; R29.810"          "G81.90 ; G81.92 ; I63.89 ; I69.352"
[37] "G81.90 ; G81.93 ; I63.89 ; I69.353" "G83.9 ; I63.9 ; I69.369"
[39] "G83.0 ; I63.9 ; I69.365"            "F01.5 ; I63.9"
[41] "F01.51 ; I63.9 ; R41.0"             "I63.112"
[43] "I63.111"                            "I63.332"
[45] "I63.012"                            "I63.011"
[47] "I61.9 ; I69.192 ; R29.810"          "I62.9 ; I69.292 ; R29.810"
[49] "G81.90 ; I61.9 ; I69.159"           "G81.90 ; I60.9 ; I69.059"
[51] "G83.9 ; I63.89 ; I69.361"           "G83.0 ; I61.9 ; I69.165"
[53] "F01.5 ; F22 ; I63.9"                "G83.9 ; I63.89 ; I69.364"

In [206]:
# aggragate the data based on icd 10 code
data$coded <- ifelse(grepl("I60", data$copy.of.copy.of.cohort.reference.event.condition), "Subarachnoid haemorrhage, unspecified",
                         ifelse(grepl("I61", data$copy.of.copy.of.cohort.reference.event.condition), "Intracerebral hemorrhage",
                                ifelse(grepl("I62", data$copy.of.copy.of.cohort.reference.event.condition), "Intracranial haemorrhage (nontraumatic), unspecified",
                                       ifelse(grepl("I63", data$copy.of.copy.of.cohort.reference.event.condition), "Cerebral infarction",
                                                      ifelse(grepl("censored", data$copy.of.copy.of.cohort.reference.event.condition), "censored",
                                                            NA)))))

In [207]:
#check the aggregated column
unique(data$coded)

[1] "censored"
[2] "Cerebral infarction"
[3] "Intracerebral hemorrhage"
[4] "Intracranial haemorrhage (nontraumatic), unspecified"
[5] "Subarachnoid haemorrhage, unspecified"

In [208]:
Type_data <- data

In [209]:
table(Type_data$coded)

                                            censored
                                                 595
                                 Cerebral infarction
                                               28658
                            Intracerebral hemorrhage
                                                  54
Intracranial haemorrhage (nontraumatic), unspecified
                                                   9
               Subarachnoid haemorrhage, unspecified
                                                   4

In [210]:
##save the counts
# Assuming 'type_counts' is a table
type_counts <- table(Type_data$coded)

# Add a sum row
type_counts_with_sum <- addmargins(type_counts, FUN = list(Total = sum))

# Convert the table to a data frame
type_counts_df <- as.data.frame(type_counts_with_sum)

# Save the table as a CSV file
write.csv(type_counts_df, "Stroke_.csv", row.names = FALSE)

In [211]:
#visual the counts
type_counts_df

  Var1                                                 Freq
1 censored                                               595
2 Cerebral infarction                                  28658
3 Intracerebral hemorrhage                                54
4 Intracranial haemorrhage (nontraumatic), unspecified     9
5 Subarachnoid haemorrhage, unspecified                    4
6 Total                                                29320

# AD

In [212]:
#load the data
data <- read.csv("/content/AD.csv")

In [213]:
#check the data
head(data)

  date.of.birth gender.at.birth ethnicity race...primary
1 1936          FEMALE          censored  censored
2 1937          FEMALE          censored  censored
3 1937          FEMALE          censored  censored
4 1937          FEMALE          censored  censored
5 1936          FEMALE          censored  censored
6 1946          FEMALE          censored  censored
  cohort.reference.event.age.at.event cohort.reference.event.condition
1 79.86042                            censored
2 70.90827                            censored
3 74.64066                            censored
4 85.11081                            censored
5 75.16006                            censored
6 72.90121                            censored
  copy.of.cohort.reference.event.condition
1 censored
2 censored
3 censored
4 censored
5 censored
6 censored
  cohort.reference.event.problem.onset.date.time
1 2016-01-29 06:35:11
2 2009-01-23 12:02:26
3 2011-09-29 03:02:57
4 2021-05-23 23:59:59
5 2011-07-27 00:19:10
6 2018-09-10 23:59:59
  cohort.reference.event.condition.type
1 Diagnosis
2 Diagnosis
3 Diagnosis
4 Diagnosis
5 Diagnosis
6 Diagnosis

In [214]:
#check the dimention of the data
dim(data)

[1] 40140     9

In [215]:
unique(data$cohort.reference.event.condition.type)

[1] "Diagnosis"

In [216]:
#check the unique type in icd 10 code column
unique(data$copy.of.cohort.reference.event.condition)

[1] "censored"      "F02.8 ; G30.0" "F02.8 ; G30.8" "F02.8 ; G30.9"
[5] "F02.8 ; G30.1"

In [217]:
# aggragate the data based on icd 10 code
data$coded <- ifelse(grepl("G30", data$copy.of.cohort.reference.event.condition), "Alzheimer disease",
                        ifelse(grepl("censored", data$copy.of.cohort.reference.event.condition), "censored",
                                                            NA))

In [218]:
#check the aggregated column
unique(data$coded)

[1] "censored"          "Alzheimer disease"

In [219]:
Type_data <- data

In [220]:
table(Type_data$coded)

Alzheimer disease          censored
            40134                 6

In [221]:
##save the counts
# Assuming 'type_counts' is a table
type_counts <- table(Type_data$coded)

# Add a sum row
type_counts_with_sum <- addmargins(type_counts, FUN = list(Total = sum))

# Convert the table to a data frame
type_counts_df <- as.data.frame(type_counts_with_sum)

# Save the table as a CSV file
write.csv(type_counts_df, "AD_.csv", row.names = FALSE)

In [222]:
#visual the counts
type_counts_df

  Var1              Freq
1 Alzheimer disease 40134
2 censored              6
3 Total             40140

# CKD

In [223]:
#load the data
data <- read.csv("/content/CKD.csv")

In [224]:
#check the data
head(data)

  date.of.birth gender.at.birth ethnicity
1 1965          FEMALE          Ethnic group not given - patient refused
2 1940          FEMALE          Ethnic group not given - patient refused
3 1945          FEMALE          Ethnic group not given - patient refused
4 1930          FEMALE          Ethnic group not given - patient refused
5 1951          FEMALE          Ethnic group not given - patient refused
6 1930          FEMALE          Ethnic group not given - patient refused
  race...primary            cohort.reference.event.age.at.event
1 Asian                     53.76881
2 Asian                     84.83995
3 Asian                     79.52836
4 Asian                     90.13395
5 Black or African American 64.79057
6 Black or African American 86.80637
  cohort.reference.event.condition copy.of.cohort.reference.event.condition
1 censored                         censored
2 censored                         censored
3 censored                         censored
4 censored                         censored
5 censored                         censored
6 censored                         censored
  cohort.reference.event.problem.onset.date.time
1 2019-02-12 23:59:59
2 2023-11-08 15:11:16
3 2023-09-18 11:32:16
4 2022-09-12 10:16:17
5 2017-08-29 17:28:31
6 2016-09-14 18:20:59
  cohort.reference.event.condition.type
1 Diagnosis
2 Diagnosis
3 Diagnosis
4 Diagnosis
5 Diagnosis
6 Diagnosis

In [225]:
#check the dimention of the data
dim(data)

[1] 205300      9

In [226]:
#check the unique type in icd 10 code column
unique(data$copy.of.cohort.reference.event.condition)

 [1] "censored"
 [2] "N18.2"
 [3] "N18.9 ; N19"
 [4] "I12.9 ; I13.0 ; I50.9 ; N18.6 ; N18.9"
 [5] "N18.3"
 [6] "N18.30"
 [7] "N18.31"
 [8] "N18.32"
 [9] "N18.4"
[10] "I12.0 ; I13.2 ; I50.9 ; N18.5 ; N18.6"
[11] "N18.1"
[12] "N18.5"
[13] "I12.9 ; I13.10 ; N18.9"
[14] "I12.9 ; N18.9 ; N26.9"
[15] "I12.9 ; I15.1 ; N18.9"
[16] "I12.0 ; I12.9 ; N18.5 ; N18.6 ; N18.9"
[17] "C64.9 ; I10 ; I12.9 ; N18.9"
[18] "C64.9 ; I10 ; I12.0 ; N18.5 ; N18.6"
[19] "C38.0 ; C64.9 ; I10 ; I12.9 ; I13 ; I50.9 ; N18.6 ; N18.9"
[20] "C38.0 ; C64.9 ; I10 ; I12.0 ; I12.9 ; I13 ; I50.9 ; N18.5 ; N18.6 ; N18.9"
[21] "C38.0 ; C64.9 ; I10 ; I12.9 ; I13 ; N18.9"
[22] "C38.0 ; C64.9 ; I10 ; I12.0 ; I13 ; N18.5 ; N18.6 ; N18.9"
[23] "I12.9 ; I13 ; I50.9 ; N18.6 ; N18.9"
[24] "I12.9 ; N18.9 ; O10.211 ; Z33.1"
[25] "I12.9 ; N18.9 ; O10.212 ; Z34.92"
[26] "I12.9 ; N18.9 ; O10.213 ; Z33.1"
[27] "I12.9 ; I13 ; I50.9 ; N18.6 ; N18.9 ; N19"

In [227]:
# aggragate the data based on icd 10 code
data$coded <- ifelse(grepl("N18.3", data$copy.of.cohort.reference.event.condition), "Chronic kidney disease, stage 3",
                         ifelse(grepl("N18.4", data$copy.of.cohort.reference.event.condition), "Chronic kidney disease, stage 4",
                                ifelse(grepl("N18.5", data$copy.of.cohort.reference.event.condition), "Chronic kidney disease, stage 5 ",
                                       ifelse(grepl("N18.1", data$copy.of.cohort.reference.event.condition), "Chronic kidney disease, stage 1",
                                              ifelse(grepl("N18.2", data$copy.of.cohort.reference.event.condition), "Chronic kidney disease, stage 2",
                                                     ifelse(grepl("N18.9", data$copy.of.cohort.reference.event.condition), "Chronic kidney disease, unspecified",
                                                      ifelse(grepl("censored", data$copy.of.cohort.reference.event.condition), "censored",
                                                            NA)))))))

In [228]:
#check the aggregated column
unique(data$coded)

[1] "censored"                            "Chronic kidney disease, stage 2"
[3] "Chronic kidney disease, unspecified" "Chronic kidney disease, stage 3"
[5] "Chronic kidney disease, stage 4"     "Chronic kidney disease, stage 5 "
[7] "Chronic kidney disease, stage 1"

In [229]:
Type_data <- data

In [230]:
table(Type_data$coded)

                           censored     Chronic kidney disease, stage 1
                                483                                3019
    Chronic kidney disease, stage 2     Chronic kidney disease, stage 3
                              16395                               56313
    Chronic kidney disease, stage 4    Chronic kidney disease, stage 5
                               9317                                4958
Chronic kidney disease, unspecified
                             114815

In [231]:
##save the counts
# Assuming 'type_counts' is a table
type_counts <- table(Type_data$coded)

# Add a sum row
type_counts_with_sum <- addmargins(type_counts, FUN = list(Total = sum))

# Convert the table to a data frame
type_counts_df <- as.data.frame(type_counts_with_sum)

# Save the table as a CSV file
write.csv(type_counts_df, "CKD_.csv", row.names = FALSE)

In [232]:
#visual the counts
type_counts_df

  Var1                                Freq
1 censored                               483
2 Chronic kidney disease, stage 1       3019
3 Chronic kidney disease, stage 2      16395
4 Chronic kidney disease, stage 3      56313
5 Chronic kidney disease, stage 4       9317
6 Chronic kidney disease, stage 5       4958
7 Chronic kidney disease, unspecified 114815
8 Total                               205300

# CLD

In [233]:
#load the data
data <- read.csv("/content/CLD.csv")

In [234]:
#check the data
head(data)

  date.of.birth gender.at.birth ethnicity                 race...primary
1 2004          censored        Hispanic or Latino        censored
2 2001          censored        Hispanic or Latino        censored
3 2017          censored        Hispanic or Latino        censored
4 1978          censored        Hispanic or Latino        censored
5 1987          censored        Patient ethnicity unknown censored
6 1986          censored        Patient ethnicity unknown censored
  cohort.reference.event.age.at.event cohort.reference.event.condition
1 14.450367                           censored
2 16.062927                           censored
3  2.487568                           censored
4 45.206892                           censored
5 32.583955                           censored
6 28.234129                           censored
  copy.of.cohort.reference.event.condition
1 censored
2 censored
3 censored
4 censored
5 censored
6 censored
  cohort.reference.event.problem.onset.date.time
1 2017-03-28 13:02:50
2 2018-09-06 23:59:59
3 2023-02-01 23:59:59
4 2023-06-22 10:15:54
5 2019-04-30 23:59:59
6 2015-03-16 09:03:18
  cohort.reference.event.condition.type
1 Diagnosis
2 Diagnosis
3 Diagnosis
4 Diagnosis
5 Diagnosis
6 Diagnosis

In [235]:
#check the dimention of the data
dim(data)

[1] 123200      9

In [236]:
#check the unique type in icd 10 code column
unique(data$copy.of.cohort.reference.event.condition)

 [1] "censored"        "K76.0"           "B18.2"           "K74.60"
 [5] "K70.31"          "I85.10 ; K70.30" "E83.110"         "K74.69"
 [9] "K74.3"           "B18.1"           "B18"             "F10.988 ; K70.1"
[13] "K70.3"           "K70.9"           "K74.5"           "B18.9"
[17] "E83.111"         "E83.119"         "E83.118"         "B18 ; Z22.51"
[21] "B18.2 ; Z22.52"  "B18.2 ; K72.91"  "K74.60 ; P78.81" "K74.4"

In [237]:
# aggragate the data based on icd 10 code
data$coded <- ifelse(grepl("B18", data$copy.of.cohort.reference.event.condition), "Chronic Viral Hepatitis",
                         ifelse(grepl("K70", data$copy.of.cohort.reference.event.condition), "Alcoholic Liver Disease",
                                ifelse(grepl("K74", data$copy.of.cohort.reference.event.condition), "Fibrosis and Cirrhosis of Liver",
                                       ifelse(grepl("K76.0", data$copy.of.cohort.reference.event.condition), "Non-Alcoholic Fatty Liver Disease (NAFLD)",
                                             ifelse(grepl("censored", data$copy.of.cohort.reference.event.condition), "censored",
                                                            NA)))))

In [238]:
#check the aggregated column
unique(data$coded)

[1] "censored"
[2] "Non-Alcoholic Fatty Liver Disease (NAFLD)"
[3] "Chronic Viral Hepatitis"
[4] "Fibrosis and Cirrhosis of Liver"
[5] "Alcoholic Liver Disease"
[6] NA

In [239]:
Type_data <- data

In [240]:
table(Type_data$coded)

                  Alcoholic Liver Disease
                                     9688
                                 censored
                                      465
                  Chronic Viral Hepatitis
                                    18202
          Fibrosis and Cirrhosis of Liver
                                    24031
Non-Alcoholic Fatty Liver Disease (NAFLD)
                                    68097

In [241]:
##save the counts
# Assuming 'type_counts' is a table
type_counts <- table(Type_data$coded)

# Add a sum row
type_counts_with_sum <- addmargins(type_counts, FUN = list(Total = sum))

# Convert the table to a data frame
type_counts_df <- as.data.frame(type_counts_with_sum)

# Save the table as a CSV file
write.csv(type_counts_df, "CLD_.csv", row.names = FALSE)

In [242]:
#visual the counts
type_counts_df

  Var1                                      Freq
1 Alcoholic Liver Disease                     9688
2 censored                                     465
3 Chronic Viral Hepatitis                    18202
4 Fibrosis and Cirrhosis of Liver            24031
5 Non-Alcoholic Fatty Liver Disease (NAFLD)  68097
6 Total                                     120483

#

In [243]:
#load the data
data <- read.csv("/content/IHD.csv")

In [244]:
#check the data
head(data)

  date.of.birth gender.at.birth ethnicity race...primary
1 1947          FEMALE          censored  censored
2 1940          FEMALE          censored  censored
3 1953          FEMALE          censored  censored
4 1955          FEMALE          censored  censored
5 1941          FEMALE          censored  censored
6 1967          FEMALE          censored  censored
  cohort.reference.event.age.at.event cohort.reference.event.condition
1 66.47070                            censored
2 84.38799                            censored
3 68.48428                            censored
4 62.51305                            censored
5 77.00137                            censored
6 53.75365                            censored
  copy.of.cohort.reference.event.condition
1 censored
2 censored
3 censored
4 censored
5 censored
6 censored
  cohort.reference.event.problem.onset.date.time
1 2015-11-01 13:56:16
2 2023-03-08 14:38:48
3 2021-05-09 23:59:59
4 2018-04-08 11:49:50
5 2018-11-18 23:59:59
6 2021-06-22 23:59:59
  cohort.reference.event.condition.type
1 Diagnosis
2 Diagnosis
3 Diagnosis
4 Diagnosis
5 Diagnosis
6 Diagnosis

In [245]:
#check the dimention of the data
dim(data)

[1] 352860      9

In [246]:
#check the unique type in icd 10 code column
unique(data$copy.of.cohort.reference.event.condition)

 [1] "censored"         "I25.10"           "I25.1"            "I24.8"
 [5] "I20.9 ; I25.118"  "I25.9"            "I24.9"            "I25.3"
 [9] "I25.119"          "I25.110"          "I25.41"           "I25.42"
[13] "I25.5"            "I25.1 ; I25.9"    "I25.810 ; I70.90" "I25.811 ; Z94.1"
[17] "I20.1 ; I25.111"  "I25.82"           "I25.84"           "I25.83"
[21] "I25.1 ; Z94.1"    "I24.9 ; I25.9"    "I25.89"

In [247]:
# aggragate the data based on icd 10 code
data$coded <- ifelse(grepl("I20.9 ; I25.118|I20.1 ; I25.111", data$copy.of.cohort.reference.event.condition), "Angina pectoris & Chronic ischaemic heart disease",
                         ifelse(grepl("I21", data$copy.of.cohort.reference.event.condition), "Acute myocardial infarction",
                                ifelse(grepl("I22", data$copy.of.cohort.reference.event.condition), "Subsequent myocardial infarction",
                                       ifelse(grepl("I23", data$copy.of.cohort.reference.event.condition), "Certain current complications following acute myocardial infarction",
                                              ifelse(grepl("I24", data$copy.of.cohort.reference.event.condition), "Other acute ischaemic heart diseases",
                                                     ifelse(grepl("I25", data$copy.of.cohort.reference.event.condition), "Chronic ischaemic heart disease",
                                                      ifelse(grepl("censored", data$copy.of.cohort.reference.event.condition), "censored",
                                                            NA)))))))

In [248]:
#check the aggregated column
unique(data$coded)

[1] "censored"
[2] "Chronic ischaemic heart disease"
[3] "Other acute ischaemic heart diseases"
[4] "Angina pectoris & Chronic ischaemic heart disease"

In [250]:
Type_data <- data

In [251]:
table(Type_data$coded)

Angina pectoris & Chronic ischaemic heart disease
                                             3282
                                         censored
                                              473
                  Chronic ischaemic heart disease
                                           338561
             Other acute ischaemic heart diseases
                                            10544

In [252]:
##save the counts
# Assuming 'type_counts' is a table
type_counts <- table(Type_data$coded)

# Add a sum row
type_counts_with_sum <- addmargins(type_counts, FUN = list(Total = sum))

# Convert the table to a data frame
type_counts_df <- as.data.frame(type_counts_with_sum)

# Save the table as a CSV file
write.csv(type_counts_df, "IDH_.csv", row.names = FALSE)

In [253]:
#visual the counts
type_counts_df

  Var1                                              Freq
1 Angina pectoris & Chronic ischaemic heart disease   3282
2 censored                                             473
3 Chronic ischaemic heart disease                   338561
4 Other acute ischaemic heart diseases               10544
5 Total                                             352860

# Wrap up outputs to a table

In [254]:
# Set the directory path where all CSV files are located
directory_path <- "/content"

# Get a list of all CSV files in the directory
csv_files <- list.files(directory_path, pattern = "\\.csv$", full.names = TRUE)

# Filter files with names containing an "_"
csv_files_with_underscore <- csv_files[grep("_", csv_files)]

# Initialize an empty data frame to store the combined data
combined_data <- data.frame()

# Read and combine the data from each CSV file
for (csv_file in csv_files_with_underscore) {
  # Extract the name for the subtitle
  subtitle <- sub(".*/(.*).csv", "\\1", csv_file)

  # Read the CSV file
  current_data <- read.csv(csv_file)

  # Add a subtitle column with the name of the original CSV file
  current_data$subtitle <- subtitle

  # Combine the data
  combined_data <- rbind(combined_data, current_data)
}

# Write the combined data to a new CSV file
write.csv(combined_data, file = "/content/count_data.csv", row.names = FALSE)